/*version2*/

* {
  font-family: "Questrial", sans-serif;
  color: white;
}

.space {
  height: 110px;
}

.extralarge {
  font-size: 70px;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px #bcbcbc;
  letter-spacing: 2px;
}

.header {
  background-color: slategray;
  height: 48px;
  width: 100%;
/*  float: left;*/
/*  text-align: left;*/
/*  display: inline;*/
}

.header ul li{
  display: inline;
}


.banner {
/*  background-color: rgb(108, 114, 144);*/
  height: 270px;
  width: 100%;
  background-image: url(imgs/pattern_test_01.gif);
  background-size: 60%;
  text-align: center;
}

.about {
  background-color: rgb(103, 194, 202);
  height: 500px;
  width: 100%;
  text-align: center;
}

.hi {
  font-size: 70px;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
/*  padding: 0px 200px 130px 100px;*/
/*  text-align: center;*/
/*  padding-right: 300px;
*//*  padding-top: 130px;*/
/*  float: right;*/
  text-shadow: 1px 1px 1px #bcbcbc;
  letter-spacing: 2px;
}

.blurb {
  font-size: 15px;
  padding-left: 400px;
  padding-right: 400px;
 /* padding-right: 500px;*/
  text-align: justify;
  letter-spacing: 1px;
}

.pix {
/*  background-color: #ccccff;*/
  height: 80px;
  text-align: center;
  background-image: url(imgs/pattern_test_01.gif);
  background-size: 60%;
}

.projects {
  background-color: rgb(112, 182, 205);
  height: 600px;
  width: 100%;
  text-align: center;
}

.images {
  display: inline;
}

.selfimage {
  padding: 130px 70px 0px;
  float: left;
}

.centerimage {
  padding: 50px;
}

.blog {
  background-color: rgb(83, 218, 209);
  height: 500px;
  width: 100%;
  text-align: center;
}

.contact {
  background-color: rgb(105, 223, 187);
  height: 250px;
  width: 100%;
}

.footer {
  background-color: slategrey;
  height: 40px;
  width: 100%;
}

li.copyright {
  position: relative;
  bottom: -8px;
  display: inline;
}


a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: slategrey;
  text-decoration: none;
}

a:hover {
  color: lightyellow;
  text-decoration: none;
}

a:active {
  color: lime;
  text-decoration: none;
}

/*
move the header bar underneath banner
split up the pictures
contrasting colors*/

.devpage {
  background-color: black;
}

/*blog index*/

.blog-index {
  background-color: rgb(83, 218, 209);
  width: 100%;
  text-align: center;
  padding-bottom: 80px;
}

.blog-index .blogposts {
  text-align: justify;
  padding: 30px 150px 30px 200px;
  font-size: 20px;
}

.paddedList {
  line-height: 1.5em;
}