
body {
  font-family: "Questrial", Helvetica, sans-serif;
}

#logo {
  position: absolute;
  top: 32px;
  left: 0px;
}

#header {
  width: 100%;
  height: 70px;
  background-color: #efb146;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
#header li{
  display: inline;
}

#summary {
  text-align: center;
  padding: 60px;
  margin: 30px 300px 30px 300px;
}

#footer {
  width: 100%;
  height: 30px;
  background-color: #efb146;
  font-size: 13px;
  position: relative;
  bottom: 0px;
}

#footer li {
  display: inline;
}

.socialicons {
  float: right;

li.copyright {
  position: relative;
  bottom: -10px;
}

}
a:hover {
  background-color: #cae5ff;
  color: #efb146;
}

a: visited {
  color: #cae5ff;
}

a:link {
  text-decoration: none;
}

a {
  color: #5B6166;
}

h1 {
  color: #5B6166;
}

#blogposts {
  padding: 50px 90px 50px 90px;
  font-size: 25px;
}

.largefont {
  font-family: "Questrial", Helvetica, sans-serif;
  font-size: 150px;
  padding-left: 95px;
  padding-top: 60px
  padding-bottom: 60px;
}

#comingsoon {
  padding-top: 180px;
  padding-bottom: 180px;
}
