html {
  background: url(../imgs/dotscopy.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#left_column {
  position: fixed;
  float: left;
  width: 100px;
  font-family: "Questrial", Helvetica, sans-serif;
}

#left_column li {
  display:inline;
}

#left_column ul li {
  font-size: 2em;
  padding: 1px
  margin: 15px;
  display: block;
}

#middle_column {
  float: left;
  width: 60%;
  margin: 20px;
  padding-left: 170px;
  font-family: "Questrial", Helvetica, sans-serif;
}

h1 {
  color: #6699cc;
  font-weight: bolder;
}

.date {
  font-style: italic;
  font-size: 11px;
  color: #efb146;
}

p {
  font-size: 16px;
}

#right_column {
  float: right;
  width: 15%;
  padding-right: 5px;
  font-family: "Questrial", Helvetica, sans-serif;
  margin: 10px;
}

#right_column li {
  display: block;
  padding: 5px
}

a:hover {
  background-color: #cae5ff;
  color: #efb146;
}

a: visited {
  color: #cae5ff;
}

a:link {
  text-decoration: none;
  color: black;
  font-size: .75em;
}

img.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.logopic {
  width: 75px;
  padding-bottom: 80px;
  padding-top: 20px;
}