.title {
      text-align: center;
  }

  * {
      font-family: "Questrial"; Helvetica, sans-serif;
  }

th {
    text-align: left;
}

.picture {
    height: 400px;
    padding-right: 20px;
    float: left;
    display: inline;
    padding-top: 40px;
}

table {
    width:70%;
    margin-right: 25%;
    margin-left: 5%;
    float: ;
    display: inline;
}

